<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/register.css">
    <title>Registration</title>
    <style>
        .disable {
            opacity: .6 !important;
            pointer-events: none !important;
            cursor: not-allowed !important;
        }

        .invalidName,
        .invalidEmail,
        .invalidLastname {
            font-family: 'Courier New', Courier, monospace;
            color: crimson;
            font-size: 12px;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition: .3s;
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div class="register-wrapper">
        <div class="register">
            <h1>Sign up</h1>
            <form method="POST" action="/login">
                <div class="block">
                    <label for="name">
                        Name
                        <input type="text" id="name" name="name" placeholder="Name" autocomplete="off"
                            onchange="handleNameChange()">
                        <p class="invalidName">Name must contain only letters </p>
                    </label>
                    <label for="Lastname">
                        Lastname
                        <input type="text" id="lastname" name="lastname" placeholder="Lastame" autocomplete="off"
                            onchange="handleLastnameChange()">
                        <p class="invalidLastname">Lastname must contain only letters </p>

                    </label>
                    <label for="gender">Gender
                        <select name="gender" id="Male">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </label>
                    <label for="birthday">Birthday
                        <input type="date" id="birthday" name="birthday">
                    </label>
                    <label for="profilePic" style="    padding: 0em 0 .5em 0px;" class="choosePic">Select a profile
                        picture
                        <button type="button" class="picBtn">Choose file
                            <input type="file" id="profilePic" name="profilePic">
                        </button>
                    </label>
                    <label for="email">
                        Email
                        <input type="email" name="email" id="email" placeholder="Email" autocomplete="off"
                            onchange="handleEmailChange()">
                        <p class="invalidEmail">Invalid email</p>

                    </label>
                    <label for="password">
                        Password
                        <input type="password" name="password" placeholder="Password" autocomplete="off">
                    </label>
                    <label for="confirmPassword">
                        Repeat Password
                        <input type="password" name="repeat_password" placeholder="Repeat  Password" autocomplete="off">
                    </label>
                </div>
                <button class="submitBtn disable" type="submit" onclick="checkInputs()">Sign up</button>

            </form>
        </div>
    </div>

    <script>
        state = {
            name: false,
            email: false,
            lastname: false,
            validEmail: /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/,
            validName: /^[a-zA-Z\-]+$/,
            validLastname: /^[a-zA-Z\-]+$/
        }


        const handleNameChange = () => {
            const name = document.querySelector("#name")
            state.validName.test(name.value) && name.value ? state.name = true : state.name = false;
            checkInputs()
        };
        const handleLastnameChange = () => {
            const lastname = document.querySelector("#lastname")
            state.validLastname.test(lastname.value) && lastname.value ? state.lastname = true : state.lastname = false;
            checkInputs()
        };
        const handleEmailChange = () => {
            const email = document.querySelector("#email")
            state.validEmail.test(email.value) && email.value ? state.email = true : state.email = false;
            checkInputs()
        };

        const checkInputs = () => {
            if (state.name) {
                document.querySelector(".invalidName").style.opacity = 0
            } else {
                document.querySelector(".invalidName").style.opacity = 1;
                return
            }
            if (state.lastname) {
                document.querySelector(".invalidLastname").style.opacity = 0
            } else {
                document.querySelector(".invalidLastname").style.opacity = 1;
                return
            }
            if (state.email) {
                document.querySelector(".invalidEmail").style.opacity = 0;
            } else {
                document.querySelector(".invalidEmail").style.opacity = 1;
                return
            }
            if(state.name && state.email && state.lastname){
                document.querySelector(".submitBtn").classList.remove("disable")
            }else{
                document.querySelector(".submitBtn").classList.add("disable")
            }
        }
    </script>
</body>