<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/register.css">
    <title>Registration</title>
    <style>
        .disable {
            opacity: .6 !important;
            pointer-events: none !important;
            cursor: not-allowed !important;
        }

        .invalidName,
        .invalidEmail,
        .invalidLastname,
        .invalidPass,
        .invalidRepeatPass {
            font-family: 'Courier New', Courier, monospace;
            color: crimson;
            font-size: 12px;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition: .3s;
            pointer-events: none;
        }
        .haveAccount{
            color: #74b05b;
            font-size: 10px;
        }
        .haveAccount a{
            color: #468c3d;
        }
    </style>
</head>

<body>
    <div class="register-wrapper">
        <div class="register">
            <h1>Sign up</h1>
            <form method="POST" action="/login" onclick="checkAll()">
                <div class="block">
                    <label for="name">
                        Name
                        <input type="text" id="name" name="name" placeholder="Name" autocomplete="off"
                            onchange="handleNameChange()">
                        <p class="invalidName">Name must contain only letters </p>
                    </label>
                    <label for="Lastname">
                        Lastname
                        <input type="text" id="lastname" name="lastname" placeholder="Lastame" autocomplete="off"
                            onchange="handleLastnameChange()">
                        <p class="invalidLastname">Lastname must contain only letters </p>

                    </label>
                    <label for="gender">Gender 
                        <select name="gender" id="Male">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </label>
                    <label for="birthday">Birthday *
                        <input type="date" id="birthday" name="birthday">
                    </label>
                    <label for="profilePic" style="    padding: 0em 0 .5em 0px;" class="choosePic">Select a profile
                        picture *
                        <button type="button" class="picBtn">Choose file
                            <input type="file" id="profilePic" name="profilePic">
                        </button>
                    </label>
                    <label for="email">
                        Email
                        <input type="email" name="email" id="email" placeholder="Email" autocomplete="off"
                            onchange="handleEmailChange()">
                        <p class="invalidEmail">Invalid email</p>

                    </label>
                    <label for="password">
                        Password
                        <input type="password" id="pass" name="password" placeholder="Password" autocomplete="off" onchange="handlePasswordChange()">
                        <p class="invalidPass">Password must contain min 6 chars</p>
                    </label>
                    <label for="confirmPassword">
                        Repeat Password
                        <input type="password" id="pass_rep" name="repeat_password" placeholder="Repeat  Password"
                            autocomplete="off" onchange="arePassEqual()">
                        <p class="invalidRepeatPass">Passwords not equal</p>
                    </label>
                </div>
                <button class="submitBtn disable" type="button" >Sign up</button>
                <span class="haveAccount">Do you have an account?<a href="/login"> sign in </a></span>

            </form>
        </div>
    </div>

    <script>
        state = {
            name: false,
            email: false,
            lastname: false,
            password: false,
            passwordRepeat: false,
            validEmail: /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/,
            validName: /^[a-zA-Z\-]+$/,
            validLastname: /^[a-zA-Z\-]+$/
        }


        const checkAll = () => {
            if (state.name && state.email && state.lastname && state.password && state.passwordRepeat) {
                console.log(state);
                document.querySelector(".submitBtn").classList.remove("disable")
                document.querySelector(".submitBtn").type = "submit"
            } else {
                console.log(state);

                document.querySelector(".submitBtn").type = "button"
                document.querySelector(".submitBtn").classList.add("disable")
            }
        }

        const handleNameChange = () => {
            const name = document.querySelector("#name")
            if (state.validName.test(name.value) && name.value) {
                state.name = true
                document.querySelector(".invalidName").style.opacity = 0
                checkAll()
            } else {
                state.name = false
                document.querySelector(".invalidName").style.opacity = 1;
                checkAll()
            }
        };
        const handleLastnameChange = () => {
            const lastname = document.querySelector("#lastname")
            if (state.validLastname.test(lastname.value) && lastname.value) {
                state.lastname = true
                document.querySelector(".invalidLastname").style.opacity = 0
                checkAll()
            } else {
                state.lastname = false
                document.querySelector(".invalidLastname").style.opacity = 1;
                checkAll()
            }

        };
        const handleEmailChange = () => {
            const email = document.querySelector("#email")
            if (state.validEmail.test(email.value) && email.value) {
                document.querySelector(".invalidEmail").style.opacity = 0;
                state.email = true
                checkAll()
            } else {
                state.email = false
                document.querySelector(".invalidEmail").style.opacity = 1;
                checkAll()
            }
        };
        const handlePasswordChange = () => {
            const pass = document.querySelector("#pass")
            if (pass.value.length >= 6) {
                document.querySelector(".invalidPass").style.opacity = 0;
                state.password = true;
                checkAll()
            } else {
                document.querySelector(".invalidPass").style.opacity = 1;
                state.password = false;
                checkAll()
            }
        }
        const arePassEqual = () => {
            const pass = document.querySelector("#pass")
            const passRep = document.querySelector("#pass_rep")
            if (pass.value === passRep.value) {
                document.querySelector(".invalidRepeatPass").style.opacity = 0;
                state.passwordRepeat = true;
                checkAll()
            } else {
                document.querySelector(".invalidRepeatPass").style.opacity = 1;
                state.passwordRepeat = false;
                checkAll()
            }
        }
    </script>
</body>